
.itemdetail {
	.swiper-container {
		height: 18.5rem;
	}
	.slide-item {
		background-size: 100% 100%;
	}
}

// 商品信息
.item-info-box {
	background-color: #fff;

	.item-title {
		padding: 0 .4rem;
	}

	p {
		font-size: .816rem;
	}

	.item-price {
		margin-top: .393rem;
	}
	.current-price {
		color: rgb(255, 72, 72);
		font-size: 1.152rem;
	}
	.original-price {
		margin-left: .4rem;
		color: #ccc;
		text-decoration: line-through;
	}
}

// key-value 的两列布局
.keyvalue-list {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	
}
.keyvalue {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	min-height: 2.16rem;
	padding: .2rem 0 .2rem .4rem;
	font-size: .624rem;
	border-top: 1px solid #eee;

	&:first-child {
		border-top: 0;
	}

	& > label {
		min-width: 1.8rem;
		color: #888;
	}

	& > div {
		margin-left: .3rem;
	}

	&.skus {
		position: relative;

		&:after {
			content: " ";
			position: absolute;
			top: 50%;
			right: .5rem;
			width: .5rem;
			height: .5rem;
			border-top: 1px solid #888;
			border-right: 1px solid #888;
			transform: rotate(45deg) translateX(-50%);
		}
	}
}


// 套餐搭配
.classical {
	&-mix {
		display: block;
		padding: .48rem;
		margin-top: .48rem;
		background-color: #fff;
	}

	&-title {
		position: relative;
		display: block;
		line-height: 1;
		font-size: .6rem;

		&:after {
			content: " ";
			position: absolute;
			top: .1rem;
			right: .1rem;
			display: inline-block;
			width: .3rem;
			height: .3rem;
			border-top: 1px solid #888;
			border-right: 1px solid #888;
			transform: rotate(45deg);
		}
	}

	&-list {
		display: flex;
		align-items: center;
		padding-right: .48rem;
		margin-top: .48rem;
	}

	&-split {
		max-width: 2rem;
		min-width: 2rem;
		color: #888;
		font-size: 1rem;
		text-align: center;
	}

	&-item {
		display: block;
		flex: 1;

		img {
			width: 100%;
		}
		span {

		}
	}
}


// 订单详情
.item-detail-box {
	margin-top: .48rem;
	background-color: #fff;

	img {
		width: 100%;
	}
}


// 加入购物车选项
.addtocar-bar {
	
	.tabbar-item {
		border-right: 0;
		border-left: 0;
		box-shadow: none;

		& > a {
			color: #fff;
			font-size: .75rem;
		}
	}

	.item-add {
  	background-color: rgb(255, 168, 0);
	}

	.item-buy {
  	background-color: #f00;
	}
}


