#parse("pages/commons/header.vm")
<body>
  <!-- inject:css -->
  <!-- endinject -->
  <div class="main">
    #if ($postFlag == 1)
    <div class="address-box js-show-add">
      <div class="location">
        <span class="icon-location"></span>
      </div>
      
      <div class="detail js-add-detail">
        <span>请选择快递收货地址</span>
      </div>
    </div>
    #end
    <div class="bill-list" id="billList">
      
    </div>
    <div class="footer">
      <span>合计：<strong>￥ <span class="js-total">$!total</span></strong></span>
      <a href="javascript:void(0);" class="ft-btn js-commit">支付</a>
    </div>
  </div>
  <script>
    var globalData = {};
    var dafePayType = '1';//默认支付方式
    globalData.postFlag = +'$postFlag';
    globalData.bills = JSON.parse('$cartDtos'.replace(/&quot;/g, '"'));
    globalData.bills[0].paymentMode = parseInt('$!paymentMode'?'$!paymentMode':dafePayType);
    globalData.value = '$!value' ? '$value'.replace(/&quot;/g, '"') : null;
    globalData.combineId = '$!id' ? '$id' : null; 
    globalData.paymentMode = parseInt('$!paymentMode'?'$!paymentMode':dafePayType);
    // console.log(globalData.bills);
  </script>
  <!-- inject:js -->
  <script src="http://localhost:8088/billing.js"></script>
  <!-- endinject -->
</body>
</html>