/* CSS Document */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; 
}

.clearfix:after {
  clear: both; 
}


/*水平线那块为订单详情;购物记录;确认定单;共用*/

.gray_hr {
  width: 100%;
  height: 0.4rem;
  background-color: #f7f7f7;
  float: left;
}


/*房子名字加箭头那块为订单详情;购物记录;确认定单;结算页面;共用*/

#home_icon {
  background-color: #ffa800;
  color: #fff;
}

.home {
  width: 100%;
  font-size: 0.68rem;
  height: 2.1rem;
  text-align: center;
  float: left;
  line-height: 2.1rem;
}

.home_icon {
  width: 1.1rem;
  margin: 0.5rem 0.5rem;
  float: left;
}

.home_text {
  text-align: center;
  line-height: 2.25rem;
  color: #4c4c4c;
  margin-right: 0.5rem;
  float: left;
}

.right_icon {
  width: 0.4rem;
  margin-top: 0.7rem;
  float: left
}


/*产品那块块为订单详情;购物记录;确认定单;共用*/

.pro_box {
  width: 100%;
  float: left;
  border-top: 1px solid rgba(219, 219, 219, 0.8);
}

.produce {
  width: 4rem;
  height: 4rem;
  border: 1px solid rgba(229, 229, 229, 0.7);
  // float: left;
  // margin-top: 0.5rem;
  // margin-left: 0.5rem;
  // margin-right: 0.5rem;
}

.pro_right {
  font-size: 0.7rem;
  letter-spacing: 0.03rem;
  position: relative;
  // width: 70%;
  display: inline-block;
  // float: left;
  // margin-top: 0.5rem;
  // margin-bottom: 0.5rem;
  // margin-left: 0;
  // margin-right: 0.5rem;
  // height: 4.25rem;
}

.explain_text {
  line-height: 0.9rem;
  color: #4c4c4c;
  height: 1.8rem;
  display: inline-block;
  overflow: hidden;
  width: 10.3rem;
  cursor: pointer;
}

.norms_text {
  color: #808080;
  font-size: 0.6rem;
  margin-top: 0.1rem;
}

.prices {
  font-size: 0.75rem;
  color: #ff4a4a;
  display: inline-block;
  margin-top: 0.05rem;
  float: left;
}

.pri_num {
  color: #808080;
  float: right;
  margin-right: 0.1rem
}

.pri_box {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1rem;
  line-height: 1rem;
  width: 100%;
}


/*运费那块为订单详情与确认定单共用*/

.prices_box {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  float: left;
  border-top: 1px solid rgba(229, 229, 229, 0.5);
  border-bottom: 1px solid rgba(229, 229, 229, 0.5);
  color: #808080;
}

.pricess {
  color: #808080;
  margin-left: 0.5rem;
  font-size: 0.7rem;
  text-align: left;
}

.pricess span {
  float: right;
  margin-right: 0.5rem;
}


/*收货地址那块为订单详情与确认定单共用*/

.position_box {
  width: 100%;
  text-align: center;
  margin: 0.4rem auto;
  display: inline-block;
  position: relative;
  height: 4.5rem;
  float: left;
}

.address_box {
  width: 100%;
  border: 1px dashed #ffa800;
  border-right: none;
  border-left: none;
  margin: 0.5rem auto;
  float: left;
}

.right_imgs {
  width: 0.6rem;
  float: right;
  margin-right: 0.6rem;
  margin-top: -0.5rem;
}

.phone {
  float: right;
}

.addre {
  width: 80%;
  overflow: hidden;
  float: left;
  font-size: 0.7rem;
  color: #333333;
  letter-spacing: 0.03rem;
  margin-left: 0.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.oder_kh {
  margin-left: 2.4rem !important;
  height: 2rem;
  display: inline-block;
  text-align: left;
  margin-bottom: 0.5rem;
}

.positions {
  width: 1rem;
  position: absolute;
  left: 0.5rem;
  top: 1.6rem;
}

.position {
  float: left;
  margin-left: 0.6rem;
  width: 1rem;
}

.name_order {
  width: 77%;
  color: #333333;
  font-size: 0.8rem;
  margin-left: 2.49rem;
  height: 2rem;
  line-height: 2rem;
  margin-top: 0.22rem;
}

.name_order p {
  float: left;
}


/*头部的购物车与购物记录按钮为结算页面和购物记录共用*/

.btn_1 {
  width: 50%;
  height: 2.45rem;
  line-height: 2.45rem;
  font-size: 0.8rem;
  color: #808080;
  background-color: #f7f7f7;
  text-align: center;
  display: block;
  float: left;
  letter-spacing: 0.06rem;
}

.btn_1:hover {
  background-color: #ffa800;
  color: #fff;
}


/*共2件商品和合计：¥ 138.00那块为订单详情;购物记录;确认定单;共用*/

.text_right {
  float: right;
  width: 100%;
  text-align: right;
  padding-right: 0.5rem;
  padding-top: 0.4rem;
  color: #808080;
  font-size: 0.7rem;
}

.text_right span {
  color: #e73535;
  margin-left: 1rem;
}
