
#set($screen_title="非常抱歉，您所访问的页面不存在！")
<div class="common_msg3">
	<span class="icons icons_warn"></span>
	<span class="text">
		<div class="msgtitle msgtitle_warn">$screen_title</div>    
	</span>	
</div>