#parse("pages/commons/header.vm")
<script type="text/javascript" src="#getAppServer()/scripts/process/process.js"></script>
<style>
th.prev {
	visibility: hidden !important;
}

th.switch {
	visibility: hidden !important;
}

th.next {
	visibility: hidden !important;
}
</style>
<link href="../../../lib/tdz_component/bootstrap-datetimepicker.min.css"
	rel="stylesheet" media="screen">
<script type="text/javascript"
	src="../../../lib/tdz_component/my_select.js"></script>
<script type="text/javascript"
	src="../../../lib/tdz_component/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript"
	src="../../../lib/tdz_component/bootstrap-datetimepicker.fr.js"></script>
<script type="text/javascript" src="#getAppServer()/scripts/address/address.js"></script>
<div class="content">
	<!--内容部分-->
	<div class="breadcrumb">
		<a class="breadcrumb-item active">基本信息</a>
	</div>
	<div class="ms-setting-content">
		<form method="Post" id="saveInfo">
			<ul id="ms-ul">
				<li>
					<div class="left">企业名称</div>
					<div class="right">
						<input type="text" class="input" placeholder="请输入企业名称"
							name="enterpiseName" value="$!e.enterpiseName">
					</div>
					<div class="ms-t-r">（必填）</div>
				</li>
				<li>
					<div class="left">注册账号</div>
					<div class="right">
						<input type="text" class="input disabled" disabled="disabled"
							value="$!e.account">
					</div>
				</li>
				<li style="margin-bottom: 92px;">
					<div class="left">商家头像</div>
					<div class="right">
						<div class="productAdd-gg" style="padding: 0; margin-top: 0;">
							<input type="hidden" name="headPicUrl" id="hidd0"
								value="$!e.headPicUrl">
							<div class="upload">
								<div class="picture noLeftAndRight" id="preview0">
									+ <img id="imghead0" class="imghead"
										src="$!e.absoluteHeadPicUrl" /> <input type="file" name="file"
										onchange="ajaxFileUpload(this,0,'1','1')" class="upload"
										id="upload0" style="width: 102px; height: 102px;" /> <input
										type="hidden" class="hide" id="hidd0" value="" />
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="left">配送方式</div>
					<div class="right">
						<div class="radio-select" style="margin-top: 5px;">
							<div
								class="radio #if($!e.distributionMode==1) checked #end #if(!$!e.distributionMode==1) checked #end">
								<span class="radio-icon icon-checked-radio"> <span
									class="path1"></span> <span class="path2"></span> <input
									type="radio" name="distributionMode" value="1"
									#if($!e.distributionMode==1) checked="checked"
									#end #if(!$!e.distributionMode==1) checked="checked" #end />
								</span> <span class="radio-text">快递发货</span>
							</div>
							<div class="radio #if($!e.distributionMode==2) checked #end ">
								<span class="radio-icon icon-checked-radio"> <span
									class="path1"></span> <span class="path2"></span> <input
									type="radio" name="distributionMode"
									#if($!e.distributionMode==2) checked="checked" #end value="2" />
								</span> <span class="radio-text">自提发货</span>
							</div>
						</div>
					</div>
					<div class="ms-t-r">（必填）</div>
				</li>
				<li>
					<div class="left">每天发货截止时间</div>
					<div class="right">
						<input type="text" class="input input-number form_time "
							readonly="readonly" value="$!e.deliveryDeadline"
							name="deliveryDeadline" style="width: 160px;"
							data-date-format="hh:ii" data-link-format="hh:ii">
					</div>
				</li>
				<li>
					<div class="left">联系人</div>
					<div class="right">
						<input type="text" class="input" name="linkMan"
							value="$!e.linkMan">
					</div>
				</li>
				<li>
					<div class="left">联系电话</div>
					<div class="right">
						<input type="text" class="input"
							onkeyup="this.value=this.value.replace(/\D/g,'')"
							name="contactPhone" value="$!e.contactPhone">
					</div>
					<div class="ms-t-r">（必填）</div>
				</li>
				<li>
					<div class="left">企业固话</div>
					<div class="right">
						<input type="text" name="areaCode" class="input min-w-0"
							onkeyup="this.value=this.value.replace(/\D/g,'')" value="$!areaCode"> <span
							class="h-line">-</span> <input name="telePhoneNum" type="text" class="input min-w-1"
							onkeyup="this.value=this.value.replace(/\D/g,'')" value="$!telePhoneNum">
					</div>
				</li>
				<li>
					<div class="left">企业简称</div>
					<div class="right">
						<input type="text" class="input" value="$!e.enterpiseAlias"
							name="enterpiseAlias">
					</div>
				</li>
				<li>
					<div class="left">企业类型</div>
					<div class="right">
						<div class="selectMessage" style="width: 160px; float: left;">
							<div class="result">
								<input type="hidden" name="enterpriseType"
									#if($!e.enterpriseType) value="$!e.enterpriseType" #else
									value="1" #end> <span id="result">
									#if($!e.enterpriseType==1) 民营 #elseif($!e.enterpriseType==2) 国营
									#elseif($!e.enterpriseType==3) 合资 #else 民营 #end </span> <i class=""></i>
							</div>
							<dl>
								<dd #if($!e.enterpriseType==1 || !$!e.enterpriseType) class="on"
									#end value="1">民营</dd>
								<dd #if($!e.enterpriseType==2) class="on" #end value="2">国企</dd>
								<dd #if($!e.enterpriseType==3) class="on" #end value="3">合资</dd>
							</dl>
						</div>
					</div>
				</li>
				<li>
					<div class="left">经营范围</div>
					<div class="right">
						<input type="text" class="input" name="bussinessScope"
							value="$!e.bussinessScope">
					</div>
				</li>
				<li>
					<div class="left">行业</div>

					<div class="right">
						<div class="selectMessage" style="width: 160px; float: left;">
							<div class="result">
								<input type="hidden" name="trade"
									#if($!e.trade) value="$!e.trade" #else value="1" #end>
								<span id="tradeResult"> #if($!e.trade==1) 互联网
									#elseif($!e.trade==2) 食品 #elseif($!e.trade==3) 金融 #else 互联网
									#end </span> <i class=""></i>
							</div>
							<dl>
								<dd #if($!e.trade==1 || !$!e.trade) class="on" #end value="1">互联网</dd>
								<dd #if($!e.trade==2) class="on" #end value="2">食品</dd>
								<dd #if($!e.trade==3) class="on" #end value="3">金融</dd>
							</dl>
						</div>
					</div>
				</li>
				<li>
					<div class="left">公司所在地</div>
					<div class="right">
						<select class="select-add" name="province" panelheight="auto"
							id="provinceDiv" onchange="ADDRESS.loadCity()">
							<option value="0">请选择</option> 
							#foreach($!pr in $!provinces)
								<option value="$!pr.code" #if($!pr.regionName==$!e.province) selected="selected" #end>$!pr.regionName</option> 
							#end
						</select> 
						<select class="select-add" name="city" id="cityDiv" onchange="ADDRESS.loadCounty()">
							<option value="0">请选择</option> 
							#foreach($!pr in $!citys)
							<option value="$!pr.code" #if($!pr.regionName==$!e.city) selected="selected" #end>$!pr.regionName</option> 
							#end
						</select> 
						<select class="select-add" name="region" id="countyDiv">
							<option value="0">请选择</option> 
							#foreach($!pr in $!regions)
							<option value="$!pr.code" #if($!pr.regionName==$!e.region) selected="selected" #end>$!pr.regionName</option> 
							#end
						</select>
					</div>
				</li>
				<li>
					<div class="left"></div>
					<div class="right">
						<input type="text" class="input" name="address"
							value="$!e.address">
					</div>
				</li>
				<li>
					<div class="left">邮编</div>
					<div class="right">
						<input type="text" class="input" name="postCode"
							value="$!e.postCode">
					</div>
				</li>
				<li>
					<div class="left">公司邮箱</div>
					<div class="right">
						<input type="text" class="input" name="email" value="$!e.email">
					</div>
				</li>
				<li>
					<div class="left">组织机构代码</div>
					<div class="right">
						<input type="text" class="input" name="orgNo" value="$!e.orgNo">
					</div>
				</li>
				<li>
					<div class="left">公商注册编号</div>
					<div class="right">
						<input type="text" class="input" name="businessNo"
							value="$!e.businessNo">
					</div>
				</li>
				<li>
					<div class="left">税务登记号</div>
					<div class="right">
						<input type="text" class="input" name="taxNo" value="$!e.taxNo">
					</div>
				</li>
				<li>
					<div class="left">法人名称</div>
					<div class="right">
						<input type="text" class="input" name="legalName"
							value="$!e.legalName">
					</div>
				</li>
				<li>
					<div class="left">传真</div>
					<div class="right">
						<input type="text" class="input" name="fax" value="$!e.fax">
					</div>
				</li>
				<li>
					<div class="left">营业执照本地址</div>
					<div class="right">
						<input type="text" class="input" name="businessLicenceUrl"
							value="$!e.businessLicenceUrl">
					</div>
				</li>
				<div class="clear"></div>
			</ul>
		</form>
	</div>



	<div class="ms-seting-buttom">
		<a href="javascript:;" class="btn btn-primary" onclick="saveInfo();">保存</a>
		<a href="/enterprise/info" class="btn btn-default broder-green">取消</a>
	</div>
	<!--内容部分-->
</div>
<!--end content-->
</div>
<!--end container-->
<script type="text/javascript">
	//上传图片
	function ajaxFileUpload(self, id, type, sort) {
		$.ajaxFileUpload({
			//处理文件上传操作的服务器端地址(可以传参数,已亲测可用)
			url : '/enterprise/fileUpload',
			secureuri : false, //是否启用安全提交,默认为false
			fileElementId : 'upload' + id, //文件选择框的id属性
			dataType : 'json', //服务器返回的格式,可以是json或xml等
			success : function(data) { //服务器响应成功时的处理函数
				if (data.success) {
					combinationUrl(id, data.data.path, type, sort);
					previewImage(self, id, type, sort, data.data.fulPpath);
					console.log(data.data.path)
				} else {
					jQuery.alert({
						type : 'error',
						text : data.msg,
						time : 3000
					});
				}
			},
			error : function(data) { //服务器响应失败时的处理函数
				alert("上传文件失败,请重试");
			}
		});
	}
	//组合图片url
	function combinationUrl(id, url, type, sort) {
		var newUrl = url;
		jQuery("#hidd" + id).val(newUrl)
	}
	function previewImage(file, id, type, sort, path) {
		var imgsrc = $('#imghead' + id).attr('src');
		var div = $('#preview' + id);//file.parentNode;
		div.append('<div class="Mark"></div>' + '<div class="downSetting">'
				+ '<span class="close"></span>' + '</div>');
		$('.picture').removeClass('blue-boder');
		$('#imghead' + id).attr('src', path);
		$('#imghead' + id).show();
	}
	$(function() {
		//每天发货截止时间
		$('.form_time').datetimepicker({
			language : 'fr',
			weekStart : 1,
			todayBtn : 1,
			autoclose : 1,
			todayHighlight : 1,
			startView : 1,
			minView : 0,
			maxView : 1,
			forceParse : 0
		});
		//图片鼠标移上效果
		$(document).on('mouseover', '.picture', function() {
			var src = $(this).find('img').attr('src');
			if (src !== '') {
				$(this).find('.downSetting').fadeIn(150);
			} else {
				$(this).addClass('blue-boder');
			}
		}).on('mouseleave', '.picture', function() {
			$(this).find('.downSetting').fadeOut(150);
			$(this).removeClass('blue-boder');
		})
		//关闭图片
		$(document).on('click', '.downSetting span.close', function() {
			var img = $(this).parents('.picture').find('img');
			var Mark = $(this).parents('.picture').find('.Mark');
			img.attr('src', '').hide();
			$(this).parent('.downSetting').remove();
			Mark.remove();
		})
		//radio
         radioFn();
		//下拉选择
		$(document).on('click', '.selectMessage', function() {
			var resultTxt = $(this).find('.result span').text();
			var dl = $(this).find('dl');
			var dd = dl.find('dd');
			var _i = $(this).find('.result i');
			var changehei = dl.height();
			dl.css({
				'bottom' : -(changehei + 15)
			})
			if (dl.is(':hidden')) {
				dl.show();
				_i.addClass('on');
			} else {
				dl.hide();
				_i.removeClass('on');
			}
			for (var i = 0; i < dd.length; i++) {
				if (dd.eq(i).text() == resultTxt) {
					dd.eq(i).addClass('on');
				}
			}
		})
		$(document).on(
				'click',
				'.selectMessage dl dd',
				function(event) {
					event.stopPropagation();
					var t = $(this).text();
					var _val = $(this).attr("value");
					$(this).siblings().removeClass('on');
					$(this).addClass('on');
					$(this).parents('.selectMessage').find('.result span')
							.html(t);
					$(this).parents('.selectMessage').find('.result input')
							.attr('value', _val);
					$(this).parents('.selectMessage').find('dl').hide();
					$(this).parents('.selectMessage').find('i').removeClass(
							'on');
				})
		//地区三级联动
		$.fn.my_select({
			select_class : '.my_select',//你要操作的文档class，注意不要传ID//需要多少级下拉就写多少个<dl>
			select_two : true, //二级下拉开关，true为开=>false为关
			select_three : true,//三级下拉开关，true为开=>false为关
			city_kiss : [ '11', '0', '5' ]
		//默认值对比你的数据设定
		}, function() {
			//code    你要添加的回调函数
			getAddress();//取值
		})
		function getAddress() {//取值方法
			var addStr = '';
			$('.my_select').each(function() {
				addStr += $(this).find('dt').text() + ',';
			})
			var resutl = addStr.substring(0, (addStr.length - 1));
			//resutl.replace(/,县/g,'').replace(/,市辖区/,'')
			$('#AddressageResult').val(resutl);
		}
		function analysisAddress() {//若#AddressageResult有值从后台传入数据则解析到页面
			var _val = $('#AddressageResult').val(), arr = [];
			if (_val) {
				arr = _val.split(',');
				$('.my_select').each(function(index) {
					$(this).find('dt').text(arr[index]);
				})
			}
		}
		analysisAddress();//解析用户默认值

	})

	//保存商品信息
	function saveInfo() {
		jQuery.ajax({
			url : "/enterprise/save",
			data : jQuery("#saveInfo").serialize(),
			type : "post",
			success : function(data) {
				if (data != null && data.success) {
					jQuery.alert({
						type : 'success',
						text : '保存成功',
						time : 3000
					});
				} else {
					jQuery.alert({
						type : 'error',
						text : data.msg,
						time : 3000
					});
				}
			},
			error : function() {
				jQuery.alert({
					type : 'error',
					text : '保存失败,请稍后重试!',
					time : 3000
				});
			}
		});

	}
</script>
</body>
</html>