#parse("pages/commons/header.vm")-
 <div class="content">
		 <!--内容部分-->
         <div class="breadcrumb">
			<a class="breadcrumb-item active">修改密码</a>
	     </div>

         <div class="ms-setting-content">
         	  <ul id="ms-ul" class="ms-password-ul">
         	  	 <li>
         	  	 	<div class="left"><span class="red">*</span>原始密码</div>
         	  	 	<div class="right">
         	  	 	   <input type="password" class="input">
         	  	 	</div>
         	  	 </li>
         	  	 <li>
         	  	 	<div class="left"><span class="red">*</span>新密码</div>
         	  	 	<div class="right">
         	  	 	   <input type="password" class="input">
         	  	 	</div>
         	  	 </li>
         	  	 <li>
         	  	 	<div class="left"><span class="red">*</span>确认新密码</div>
         	  	 	<div class="right">
         	  	 	   <input type="password" class="input">
         	  	 	</div>
         	  	 </li>
         	  	 <div class="clear"></div>
         	  </ul>
         </div>
		  
          <div class="ms-seting-buttom" style="text-align:left;">
           <a href="javascript:;" class="btn btn-primary" style="margin-left:300px;" id="save">保存</a>
           <a href="javascript:;" class="btn btn-default broder-green">取消</a>
          </div>
		 <!--内容部分-->
	</div><!--end content-->
</div><!--end container-->
   <script type="text/javascript">

 $(function(){
       //输入为空验证
       $('input').blur(function(){
         var t = $(this).val();
         if(t==''){
            $.alert({
                  type: 'error',
                  text: '密码不能为空!',
                  time: 3000
                });
            $(this).addClass('error');
            return false;
         }else{
            $(this).removeClass('error')
         }
       })
       //保存前后密码是否相等与非空验证
       var NullVal = false;
       $('#save').click(function(){
         $('input').each(function(){
            if( $(this).val() == '' ){
                NullVal = false;
            }else{
                NullVal = true;
            }
            //console.info(NullVal);
         })
         if(!NullVal){
           $.alert({
                  type: 'error',
                  text: '密码不能为空!',
                  time: 3000
              });
           return false;
         }
         var t1 = $('input:eq(1)').val();
         var t2 = $('input:eq(2)').val();
         if( t1 !== t2 ){
            $.alert({
                  type: 'error',
                  text: '两次输入密码不一致!',
                  time: 3000
              });
            return false;
         }
         if( t1.length < 6 ){
            $.alert({
                  type: 'error',
                  text: '密码至少为6位数!',
                  time: 3000
              });
            return false;
         }

         
       })

 })

   </script>
</body>
</html>